.nav_list {
    margin-top: -1em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav_list li {
    list-style: none;
}

.nav_list img {
    height: 25vh;
}
.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 2vi;
}
.nav_list .buttons span{
    color: white;
    font-style: none;
    text-decoration: none;
    padding: 1vi 2vi; 
    border: 1px solid white; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 4vi;
}
#login,#register{
    text-decoration: none;
}
.nav_list .buttons span {
    transition: transform 0.3s ease;
}
.nav_list .buttons span:hover {
    border: 1px solid rgb(0, 255, 140);
    color: rgb(0, 255, 140);
    cursor: pointer;
    transform: scale(1.1);
}

