.register-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* White text color */
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    column-gap: 2vi;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff; /* White text color */
  }
  
  .form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    color: #fff; /* White text color */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Subtle green color */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  label{
    padding-right: 6vi;
  }